.container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3);

  color: var(--color-text-secondary);
}
