.sidebar {
  display: none;
  background: #ffffff;
}

.bottomNavigation {
}

.main {
  height: 50%;
  overflow-y: scroll;
  padding: var(--space-3);
  padding-bottom: 100px;
}

.layout {
  height: 100vh;
}

@media (min-width: 1024px) {
  .layout {
  }

  .main {
  }

  .sidebar {
    display: flex;
  }

  .bottomNavigation {
    display: none;
  }
}
