.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 44px;
  padding: 0 var(--space-4);

  border-radius: var((--radius-md));

  background-color: var(--color-primary);
  color: var(--color-background);

  font-size: 1rem;
  font-weight: var(--font-wight-semibold);
  cursor: pointer;

  transition:
    background-color 150ms ease,
    transform 100ms ease;
}

button:hover {
  background-color: #00c853;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
